@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #3c484e;
  font-family: "Open Sans", sans-serif;
}

.Header-main {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Header-nav a {
  margin: 20px;
  text-decoration: none;
  font-size: 2em;
  color: #f3f3f3;
}

.logo {
  position: absolute;
  height: 180px;
  z-index: 1;
  top: 2%;
  width: auto;
}

.Main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-img {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: auto 65vw;
  margin-bottom: 10%;
  clip-path: polygon(40% 56%, 46% 56%, 42% 15%, 56% 15%, 53% 56%, 59% 56%, 50% 73%);
  transition: all 1.5s;
}

.hero-img:hover {
  clip-path: polygon(0% 0%, 0% 50%, 0% 100%, 100% 100%, 100% 50%, 100% 20%, 100% 0%);
}

.Characters {
  margin: 0 4vw 10vw 4vw;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.Characters-inner {
  display: flex;
  justify-content: center;
}

.Characters-card {
  text-decoration: none;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06), 1px 3px 8px rgba(39, 44, 49, 0.03);
  border-radius: 5px;
  margin: 0 0 20px 0;
  display: block;
  animation-duration: 2s;
  animation-name: fade;
}
.Characters-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Characters-card img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.Characters-card h2 {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.Characters-card h3 {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  margin: 20px;
}

.Characters-item {
  text-decoration: none;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06), 1px 3px 8px rgba(39, 44, 49, 0.03);
  border-radius: 5px;
  margin: 0 0 20px 0;
  display: flex;
  animation-duration: 2s;
  animation-name: fade;
  justify-content: center;
}

.Characters-item img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.Characters-item h2 {
  font-size: 18px;
  font-weight: 300;
  padding: 5px 10px;
}

.Characters-item a {
  text-decoration: none;
  color: #026c86;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Main-loading {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
